<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/list.css">
<meta charset="UTF-8">
<title>SIW CATERING</title>
</head>
<body>
	<div class="main">
		<div class="maincard">
			<div class="subcard" th:each="buffet : ${buffets}">
				<h3 th:text="${buffet.nome}">buffet1</h3>
				<p th:text="${buffet.descrizione}">DESCRIZIONE</p>
				<div class="links">
					<span> <a
						th:href="@{/admin/buffet/doDelete/{id}(id = ${buffet.id})}">ELIMINA</a>
					</span> <span> <a
						th:href="@{/admin/buffet/edit/{id}(id = ${buffet.id})}">MODIFICA</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/default}">Home</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>

