<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Buffet</title>
</head>
<body>
	<h3>
		Buffet: <span th:if="${buffet.nome != null}"><span
			th:text="${buffet.nome}"></span></span>
	</h3>
	<form action="#" th:action="@{/admin/buffetForm}" th:object="${buffet}"
		method="post">
		<div>
			<span>Nome:</span> <span><input type="text" th:field="*{nome}" /></span>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			<span>Descrizione:</span> <span><input type="text"
				th:field="*{descrizione}" /></span> <span
				th:if="${#fields.hasErrors('descrizione')}"
				th:errors="*{descrizione}"></span>
		</div>
		<h3>
			<span>Chef associato:</span><span th:if="${currentChef.nome != null}"><span
				th:text="${currentChef.nome} + ' ' + ${currentChef.cognome}"></span></span>
		</h3>
		<div>
			<span> <select th:field="*{chef}">
					<option th:each="chef : ${chefs}" th:value="${chef.id}"
						th:text="${chef.nome} + ' ' + ${chef.cognome}" />
			</select>
			</span> <span><button type="submit" name="action" value="saveChef">save</button></span>
			<span> <a th:href="@{/admin/buffetForm/createChef}"> crea nuovo</a></span>
		</div>
		<h3>Piatti:</h3>
		<div>
			<span>span</span> <span><a th:href="@{/admin/chefForm}">aggiungine
					uno nuovo</a></span>
		</div>

	</form>
</body>