<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/form.css">
<meta charset="UTF-8">
<title>SIW CATERING</title>
</head>
<body>
	<main>
		<header>
			<h1 id="title">CHEF</h1>
		</header>
		<form id="survey-form" class="form" action="#"
			th:action="@{/admin/{idPage}(idPage=${currentPath})}"
			th:object="${chef}" method="post">
			<div class="fill">
				<span>Nome:</span><br> <input id="name"
					placeholder="inserisci un nome" type="text" th:field="*{nome}"
					required /> <br>
			</div>
			<div class="fill">
				<span>Cognome:</span><br> <input id="name"
					placeholder="inserisci un cognome" type="text"
					th:field="*{cognome}" required /> <br>
			</div>
			<div class="fill">
				<span>Nazionalità:</span><br> <input id="name"
					placeholder="inserisci la nazionalità" type="text"
					th:field="*{nazionalita}" /> <br>
			</div>
			<div>
				<input type="hidden" th:field="*{id}" />
			</div>
			<div th:if="${currentPath} == 'chefForm' ">
				<button type="submit" name="action" value="salvaChefDalloChef">Conferma</button>
			</div>
			<div th:if="${currentPath} == 'buffetForm/createChef' ">
				<button type="submit" name="action" value="salvaChef">salva
					e torna al buffet</button>
			</div>
		</form>
	</main>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/default}">Home</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>