<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/chef.css">
<meta charset="UTF-8" />
<title>SIW CATERING</title>
</head>
<body>
	<main>
		<div id="flex-container">
			<div class="flex-item" th:each="chef : ${chefs}">
				<div class="text_container">
					<p class="section-description"
						th:text="${chef.nome} + ' ' + ${chef.cognome}">carlo cracco</p>
					<p class="subtitle" th:text="${chef.nazionalita}">nazionalità</p>
					<p class="links">
						<span> <a
							th:href="@{/admin/chef/doDelete/{id}(id = ${chef.id})}">ELIMINA</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/default}">Home</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>




