<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/home.css">
<meta charset="UTF-8">
<title>SIW CATERING</title>
</head>
<body>
	<main>
		<div id="flex-container">
			<div class="flex-item">
				<div class="text_container">
					<p class="section-description">BUFFETS</p>
					<p class="links">
						<span> <a th:href="@{/admin/buffet}">VISUALIZZA E
								MODIFICA</a>
						</span>
					</p>
					<p class="links">
						<span> <a th:href="@{/admin/buffetForm}">INSERISCI
								NUOVO</a>
						</span>
					</p>
				</div>
			</div>

			<div class="flex-item">
				<div class="text_container">
					<p class="section-description">PIATTI</p>
					<p class="links">
						<span> <a th:href="@{/admin/piatto}">VISUALIZZA E
								MODIFICA</a>
						</span>
					</p>
					<p class="links">
						<span> <a th:href="@{/admin/piattoForm}">INSERISCI
								NUOVO</a>
						</span>
					</p>
				</div>
			</div>

			<div class="flex-item">
				<div class="text_container">
					<p class="section-description">CHEFS</p>
					<p class="links">
						<span> <a th:href="@{/admin/chef}">VISUALIZZA E
								MODIFICA</a>
						</span>
					</p>
					<p class="links">
						<span> <a th:href="@{/admin/chefForm}">INSERISCI NUOVO</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>
