<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.menuAdmin}">Menu</h4>
		<div>
			<span> 
				BUFFETS
			</span>
			<span>
				<a th:href="@{/admin/buffet}" >visualizza e modifica</a>     
			</span>
			<span>
				<a th:href="@{/admin/buffetForm}">inserisci nuovo</a>     
			</span>
   		</div>
   		<div>
			<span> 
				CHEFS
			</span>
			<span>
				<a th:href="@{/admin/chef}" >visualizza e modifica</a>     
			</span>
			<span>
				<a th:href="@{/admin/chefForm}">inserisci nuovo</a>     
			</span>
   		</div>
   		<div>
			<span> 
				PIATTO
			</span>
			<span>
				<a th:href="@{/admin/piatto}" >visualizza e modifica</a>     
			</span>
			<span>
				<a th:href="@{/admin/piattoForm}">inserisci nuovo</a>     
			</span>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>