<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AGGIUNGI CHEF</title>
</head>
<body>
	<h1>Aggiungi un piatto</h1>
	<form action="#" th:action="@{/admin/ingredienteForm}"
		th:object="${ingrediente}" method="post">
		<div>
			<span>Nome:</span> <span><input type="text" th:field="*{nome}"
				required /></span> <span th:if="${#fields.hasErrors('nome')}"
				th:errors="*{nome}"></span>
		</div>
		<div>
			<span>Origine:</span> <span><input type="text"
				th:field="*{origine}" /></span> <span
				th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
		</div>
		<div>
			<span>Descrizione:</span> <span><input type="text"
				th:field="*{descrizione}" /></span> <span
				th:if="${#fields.hasErrors('descrizione')}"
				th:errors="*{descrizione}"></span>
		</div>
		<div>
			<span>Piatto associato: </span> <span> <select
				th:field="*{piatto}">
					<option th:value="${piatto.id}" th:text="${piatto.nome}" />
			</select>
			</span>
		</div>
		<div>
			<button type="submit" name="action" value="finish">fine</button>
			<button type="submit" name="action" value="keepAdding">continua
				ad aggiungere</button>
		</div>
			</form>
			<h3 th:if="${piatto.ingredienti != null}">Ingredienti aggiunti</h3>
		<ul>
			<li th:each="ingrediente : ${ingredienti}"><a
				th:text="${ingrediente.nome}">pancetta</a> <span><a
					th:href="@{/admin/ingrediente/doDelete/{id}(id = ${ingrediente.id})}">elimina</a></span></li>
		</ul>
	<footer th:replace="fragments/base.html :: fondo(home='/default')">Home</footer>
</body>
</html>