<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SIW CATERING</title>
</head>
<body>
	<h1>ELENCO PIATTI:</h1>
	<ul>
		<li th:each="piatto : ${piatti}"><a th:text="${piatto.nome}">carbonara</a>
			<span><a
				th:href="@{/admin/piatto/doDelete/{id}(id = ${piatto.id})}">elimina</a></span>
			<span><a
				th:href="@{/admin/piatto/edit/{id}(id = ${piatto.id})}">modifica</a></span>
		</li>
	</ul>
	<footer th:replace="fragments/base.html :: fondo(home='/default')">Home</footer>
</body>
</html>