<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>
		Piatto: <span th:if="${piatto.nome != null}"><span
			th:text="${piatto.nome}"></span></span>
	</h3>
	<form action="#" th:action="@{/admin/piattoForm}" th:object="${piatto}"
		method="post">
		<div>
			<span>Nome:</span> <span><input type="text" th:field="*{nome}" /></span>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			<span>Descrizione:</span> <span><input type="text"
				th:field="*{descrizione}" /></span> <span
				th:if="${#fields.hasErrors('descrizione')}"
				th:errors="*{descrizione}"></span>
		</div>
	</form>
	<h3>Ingredienti del piatto</h3>
	<form action="#" th:action="@{/admin/ingredienteForm}"
		th:object="${ingrediente}" method="post">
		<div>
			<span>Nome:</span> <span><input type="text" th:field="*{nome}" /></span>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			<span>Origine:</span> <span><input type="text"
				th:field="*{origine}" /></span> <span
				th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
		</div>
		<div>
			<span>Descrizione:</span> <span><input type="text"
				th:field="*{descrizione}" /></span> <span
				th:if="${#fields.hasErrors('descrizione')}"
				th:errors="*{descrizione}"></span>
		</div>
		<div>
			<button type="submit">aggiungi ingrediente</button>
		</div>
		<ul>
			<li th:each="ingrediente : ${ingredienti}"><a
				th:text="${ingrediente.nome} + 'origine:' + ${ingrediente.origine}">cipolla tropea </a> <span><a
					th:href="@{/admin/chef/doDelete/{id}(id = ${ingrediente.id})}">rimuovi</a></span>
			</li>
		</ul>
	</form>
</body>
</html>