<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/list.css">
<meta charset="UTF-8" />
<title>SIW CATERING</title>
</head>
<body>
	<div class="main">
		<div class="maincard">
			<div class="subcard" th:each="piatto : ${piatti}">
				<h3 th:text="${piatto.nome}">CARBONARA</h3>
				<p th:text="${piatto.descrizione}">DESCRIZIONE</p>
			</div>
		</div>
	</div>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/default}">Home</a></li>
				<li><a
					th:href="@{/admin/buffetForm/return/{id}(id = ${buffet.id})}">ritorna
						al buffet</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>