<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>
		Piatto: <span th:if="${piatto.nome != null}"><span
			th:text="${piatto.nome}"></span></span>
	</h3>
	<form action="#" th:action="@{/admin/piattoForm}" th:object="${piatto}"
		method="post">
		<div>
			<span>Nome:</span> <span><input type="text" th:field="*{nome}" /></span>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			<span>Descrizione:</span> <span><input type="text"
				th:field="*{descrizione}" /></span> <span
				th:if="${#fields.hasErrors('descrizione')}"
				th:errors="*{descrizione}"></span>
		</div>
	<h3>Ingredienti del piatto</h3>
	<div>
		<span> <select th:field="*{ingredienti}" >
				<option th:each="ingrediente : ${ingredientiTotali}"
					th:value="${ingrediente.id}"
					th:text="${ingrediente.nome} + ' ' + ${ingrediente.origine}" />
		</select>
		</span> <span><button type="submit" name="action"
				value="saveIngrediente">save</button></span> <span> <a
			th:href="@{/admin/ingredienteForm}"> crea nuovo</a></span>
	</div>
	<ul>
		<li th:each="ingrediente : ${ingredienti}"><a
			th:text="${ingrediente.nome}">cipolla tropea </a> 
		</li>	</ul>
	</form>
</body>
</html>