<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>
		Piatto: <span th:if="${piatto.nome != null}"><span
			th:text="${piatto.nome}"></span></span>
	</h3>
	<form action="#" th:action="@{/admin/piattoForm}" th:object="${piatto}"
		method="post">
		<div>
			<span>Nome:</span> <span><input type="text" th:field="*{nome}" required/></span>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			<span>Descrizione:</span> <span><input type="text"
				th:field="*{descrizione}" /></span> <span
				th:if="${#fields.hasErrors('descrizione')}"
				th:errors="*{descrizione}"></span>
		</div>
		<input type="hidden" th:field="*{id}" />
		<div>
					<span><button
					type="submit" name="action" value="aggiungiNuovi">aggiungi
					tutti gli ingredienti</button></span>
		</div>
	</form>
		<footer th:replace="fragments/base.html :: fondo(home='/default')">Home</footer>
</body>
</html>