<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/list.css">
<meta charset="UTF-8" />
<title>SIW CATERING</title>
</head>
<body>
	<main>
		<div id="flex-container">
			<div class="flex-item" th:each="piatto : ${piatti}">
				<div class="text_container">
					<p class="section-description" th:text="${piatto.nome}">CARBONARA</p>
					<p class="description" th:text="${piatto.descrizione}">DESCRIZIONE</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/default}">Home</a></li>
				<li><a
					th:href="@{/admin/buffetForm/return/{id}(id = ${buffet.id})}">ritorna
						al buffet</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>