<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/buffet.css">
<meta charset="UTF-8" />
<title>SIW CATERING</title>
</head>
<body>
	<div class="main">
		<div class="innerdiv">
			<h1 th:text="${piatto.nome}">
				<img src="https://img.icons8.com/plasticine/40/000000/pancake.png"
					alt="Dessert" />Buffet Romano
			</h1>
			<p th:text="${piatto.descrizione}">Lorem ipsum dolor sit amet,
				consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua.</p>
			<div class="maincard">
				<div class="subcard" th:each="ingrediente : ${piatto.ingredienti}">
					<h3 th:text="${ingrediente.nome}">carbonara</h3>
					<p th:text="${ingrediente.descrizione}">Lorem ipsum, dolor sit
						amet consectetur adipisicing elit. Unde cum ea nesciunt excepturi?
						Optio non error reprehenderit deserunt ut, suscipit placeat
						laborum distinctio dolores dolorum!</p>
				</div>

			</div>
		</div>
	</div>
	<footer>
		<div>
			<ul>
				<li><a th:href="@{/default}">Home</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>